.navbar-logo:link,
.navbar-logo:visited{
    font-family: 'Bungee Inline', cursive;
    color: #EA721D;
    font-size: 40px;
}
.navbar-link{
    font-size: 18px;
    color:#435555; 
    font-weight: 500;
    margin-left: 15px;
}
.navbar-link:hover{
    color: #EA721D;
}
.user-img img{
    height: 40px;
    border-radius: 30px;
}
.user-img{
    margin-left: 15px;
}
@media only screen and (min-width: 768px){
    .navbar-nav{
        align-items: center;
    }
}
.navbar-toggler:focus{
    box-shadow: none;
}
button.navbar-link{
    border: none;
    background-color: transparent;
}