.form-wrapper{
    width: 40%;
    border: 1px solid #ccc;
    padding: 60px 40px;
    margin-left: 30%;
    margin-top: 50px;
}
.btn-regular{
    background-image: linear-gradient(to right, #E2620A, #FA9443);
    color: #FFF;
    display: block;
    width: 100%;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
}
.add-service-section{
    padding: 30px 0 60px 0;
}
.form-title{
    font-family: 'Bungee Inline', cursive;
    color: #435555;
    font-size: 25px;
}
.form-desc {
    height: 120px;
}
@media only screen and (max-width: 995px){
    .form-wrapper{
        width: 60%;
        margin-left: 20%;
    }
}
@media only screen and (max-width: 768px){
    .form-wrapper{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 450px){
    .form-wrapper{
        width: 100%;
        margin-left: 0%;
    }
}